@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;0,500;0,600;1,100&display=swap');


:root{
    --header-height: 3rem;

    /* COLOR */
    --hue: 0;
    --sat: 0%;
    --title-color: hsl(var(--hue),var(--sat),25%);
    --title-color-dark: hsl(var(--hue),var(--sat),20%);
    --text-color: hsl(var(--hue),var(--sat),46%);
    --body-color: hsl(var(--hue),var(--sat),98%);
    --container-color: #fff;

    /* FONT */

    --body-font: "Poppins",sans-serif;

    --big-font-size: 3.5rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
    --tiny-font-size: 0.625rem;

    --font-normal: 400;
    --font-medium: 500;
    --font-semi-bold: 600;

    --mb-0-25: 0.25rem;
    --mb-0-5 : 0.5rem;
    --mb-0-75: 0.75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;

    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;

}

/* Responsive typography*/

@media screen and (max-width: 992px){
    :root{
        --big-font-size: 2.75rem;
        --h1-font-size: 1.5rem;
        --h2-font-size: 1.25rem;
        --h3-font-size: 1rem;
        --normal-font-size: 0.938rem;
        --small-font-size: 0.813rem;
        --smaller-font-size: 0.75rem;

    }
}


/*============ BASE =============*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body,button,input,textarea{
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
}

body{
    background-color: var(--body-color);
    color: var(--text-color);
}

h1,h2,h2{
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

button{
    cursor: pointer;
    border: none;
    outline: none;
}

img{
    max-width: 100%;
    height: auto;
}

/* SECTIONS */
.section{
    padding: 6rem 0 2rem;
}

.section__title{
    font-size: var(--h1-font-size);
    padding-bottom: var(--mb-3);
}

.section__subtitle{
    font-size: var(--small-font-size);
    display: block;
    margin-bottom: 4rem;
}

.section__title, .section__subtitle{
    text-align: center;
}

/* Layout */

.container{
    max-width: 968px;
    margin-left: auto;
    margin-right: auto;
}

.grid{
    display: grid;
    gap: 1.5rem;
}

/* Button */

.button{
    display: inline-block;
    background-color: var(--title-color);
    color: var(--container-color);
    padding: 1.25rem 2rem;
    border-radius: 1rem;
    font-weight: var(--font-medium);
}
.button:hover{
    background-color: var(--title-color-dark);
}

.button__icon{
    margin-left: var(--mb-0-25);
}

.button--flex{
    display: inline-flex;
    align-items: center;
}
/* Navbar */

.header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-color: var(--body-color);
}

.nav{
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 1rem;
}

.nav__logo, .nav__toggle{
    color: var(--title-color);
    font-weight: var(--font-medium);
}

.nav__list{
    display: flex;
    column-gap: 2rem;
}
.nav__link{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: var(--small-font-size);
    color: var(--title-color);
    font-weight: var(--font-medium);
    transition: .3s;
}

.nav__icon,
.nav__close, 
.nav__toggle{
    display: none;
}

.active-link,
.nav__link:hover{
    color: var(--title-color-dark);
}
/* Home */

.home__content{
    display: grid;
    grid-template-columns: 116px repeat(2,1fr);
    padding-top: 5.5rem;
    column-gap: 2rem;
    align-items: center;
}
.home__img{
    background: url("/Task1/images/83908473_10213544029074306_1031853080976556032_n.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    order: 1;
    justify-self: center;
    width: 300px;
    height: 300px;
    animation: profile__animate 8s ease-in-out infinite 1s;
}



@keyframes profile__animate {
    0%{
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }
    50%{
        border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
    }
    100%{
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }
}

.home__social{
    display: grid;
    grid-template-columns: max-content;
    row-gap: 1rem;
}
.home__social-icon{
    font-size: 1.25rem;
    color: var(--title-color);
}
.home__social-icon:hover{
    color: var(--title-color-dark);
}
.home__title{
    font-size: var(--h1-font-size);
    margin-top: var(--mb-0-25);
}
.home__subtitle{
    position: relative;
    font-size: var(--h3-font-size);
    font-weight: var(--font-normal);
    margin-bottom: var(--mb-1);
}

.scrollup{
    position: fixed;
    right: 2.5rem;
    bottom: -20%;
    background-color: var(--title-color);
    opacity: 0.8;
    padding: 0.3rem 0.5rem ;
    border-radius: 0.4rem;
    z-index: var(--z-tooltip);
    transition: .4s;
}
.scrollup__icon{
    font-size: 1.5rem;
    color: var(--container-color);
}
.scrollup:hover{
    background-color: var(--title-color-dark);
}

.show-scroll{
    bottom: 3rem;
}

/* About */
.about__btn{
    gap: 3px;
}

.about__container{
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    column-gap: 4rem;
}

.about__img {
    width: 350px;
    border-radius: 1.5rem;
    justify-self: center;
}

.about__info {
    grid-template-columns: repeat(3,140px);
    gap: 0.5rem;
    margin-bottom: var(--mb-2);
}

.about__box {
    background-color: var(--container-color);
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 0.75rem;
    text-align: center;
    padding: 1rem 1.25rem;
}

.about__icon{
    font-size: 1.5rem;
    color: var(--text-color);
    margin-bottom: var(--mb-0-5);
}

.about__title{
    font-size: var(--small-font-size);
    font-weight: var(--font-medium);
}

.about__subtitle{
    font-size: var(--tiny-font-size);
}

.about__description{
    padding:  0 4rem 0 0;
    margin-bottom: var(--mb-2);
}

/* Skill */
.skills__container{
    grid-template-columns: repeat(2,350px);
    column-gap: 3rem;
    justify-content: center;
}

.skills__content{
    background-color: var(--container-color);
    border: 1px solid rgba(0,0,0,0.1);
    padding:  2rem 4rem;
    border-radius: 1.25rem;
}

.skills__title{
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    text-align: center;
    margin-bottom: var(--mb-2-5);
    color: var(--title-color);
}

.skills__box{
    display: flex;
    justify-content: center;
    column-gap: 2.5rem;
}

.skills__group{
    display: grid;
    align-items: flex-start;
    row-gap: 2rem;
}

.skills__data{
    display: flex;
    column-gap: 0.5rem;
}
.skills .bx-badge-check{
    font-size: 1rem;
    color: var(--title-color);
}
.skills__name{
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    line-height: 18px;
    color: var(--title-color);
}

/* Education */
.education__container{
    max-width: 768px;
}
.education__tabs{
    display: flex;
    justify-content: center;
    margin-bottom: var(--mb-2);
}
.education__button{
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);
    color: var(--title-color);
    margin: 0 var(--mb-1);
    cursor: pointer;
}
.education__button:hover{
    color: var(--title-color-dark);
}
.education__icon{
    font-size: 1.8rem;
    margin-right: var(--mb-0-25);
}
.education__active{
    color:var(--title-color-dark);
    border: 2px solid var(--title-color-dark);
    padding: 0 5px;
    border-radius: 10px;

}

.education__sections{
    display: grid;
    grid-template-columns: 0.5fr;
    justify-content: center;
}
.education__content{
    display: none;
}


.education__content--education {
    display: none;
}

.education__content-active {
    display: block;
}



.active{
    display: block;
}

.education__data{
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    column-gap: 1.5rem;
    
}
.education__title{
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
}
.education__subtitle{
    display: inline-block;
    font-size: var(--small-font-size);
    margin-bottom: var(--mb-1);
}
.education__calender{
    font-size: var(--small-font-size);
    position: relative;
}
.education__rounder{
    display: inline-block;
    width: 13px;
    height: 13px;
    background-color: var(--text-color);
    border-radius: 50%;
}

.education__line{
    display: block;
    width: 1px;
    height: 100%;
    background-color: var(--text-color) ;
    transform: translate(6px, -7px);
}
.line{
    position: relative;
}

/* Footer */
.footer{
    background-color: var(--container-color);
    border-top: 1px solid rgba(0,0,0,0.1);
}
.footer__container{
    padding: 2rem 0 6rem;
}

.footer__title, .footer__link{
    color: var(--title-color);
}
.footer__title{
    text-align: center;
    margin-bottom: var(--mb-2);
}
.footer__link{
    color: var(--title-color-dark);
}

.footer__list{
    display: flex;
    justify-content: center;
    column-gap: 1.5rem;
    margin-bottom: var(--mb-2);
}
.footer__social{
    display: flex;
    justify-content: center;
    column-gap: 1.25rem;
}
.footer__social-link{
    background-color: var(--title-color);
    color: var(--container-color);
    font-size: 1.5rem;
    align-items: center;
    justify-content: center;

    width: 2rem;
    height: 2rem;
    border-radius: 0.5rem;
    display: inline-flex;

}

/* contact */

.contact__container{
    grid-template-columns: repeat(2,max-content);
    justify-content: center;
    column-gap: 6rem;
    padding-bottom: 3rem;
}

.contact__title{
    text-align: center;
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);
    margin-bottom: var(--mb-1-5);
}
.contact__info{
    display: grid;
    row-gap: 1rem;
    grid-template-columns: 300px;
}
.contact__form{
    width: 360px;
}
.contact__card{
    background-color: var(--container-color);
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 0.75rem;
    text-align: center;
    padding: 1rem;
}

.contact__card-icon{
    font-size: 2rem;
    color: var(--title-color);
    margin-bottom: var(--mb-1-5);
}
.contact__card-title{
    color: var(--title-color);
}
.contact__card-title, .contact__card-data{
    font-size: var(--small-font-size);

}
.contact__card-title{
    font-weight: var(--font-medium);
}
.contact__card-data{
    display: block;
    margin-bottom: var(--mb-0-75);
}
.contact__form{
    width: 360px;
}
.contact__button{
    color: var(--text-color);
    font-size: var(--small-font-size);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    column-gap: 0.25rem;
}

.contact__button-icon{
    font-size: 1rem;
    transition: 0.3s;
}

.contact__button:hover .contact__button-icon{
    transform: translate(0.25rem);
}

.contact__form-div{
    position: relative;
    margin-bottom: var(--mb-2);
    height: 4rem;
}
.contact__form-input{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid rgba(0,0,0,0.3);
    background: none;
    color: var(--text-color);
    outline: none;
    border-radius: 0.75rem;
    padding: 1.5rem;
    z-index: 1;
}
.contact__form-tag{
    position: absolute;
    top: -0.75rem;
    left: 1.25rem;
    font-size: var(--smaller-font-size);
    padding: 0.25rem;
    background-color: var(--body-color);
    z-index: 10;
}
.contact__form-area{
    height: 11rem;
}

.contact__form-area textarea{
    resize: none;
}
/* portfilio */
.portfolio__img img{
    border-radius: 20px;
}
.portfolio__container{
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    column-gap: 4rem;
}
.portfolio__content{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
}
.portfolio__title{
    font-size: var(--h2-font-size);
    color: var(--title-color);
    margin-top: var(--mb-0-25);
}

.portfolio__subtitle{
    font-weight: var(--font-medium);
}
.portfolio__description{
    font-size: var(--normal-font-size)
}
.portfolio__link{
    display: flex;
    gap: 2rem;
}
.portfolio__link i{
    color: var(--title-color);
}
.portfolio__icon{
    font-size: 1.5rem;
}

/* Responsive*/

@media screen and (max-width: 992px) {
    .container{
        margin-left: var(--mb-1-5) ;
        margin-right: var(--mb-1-5);
    }

    /* Home */
    .home__content{
        grid-template-columns: 100px repeat(2,1fr);
        column-gap: 1.25rem;
    }
    .home__subtitle{
        margin-bottom: var(--mb-1);
    }
    .home__subtitle::before{
        width: 42px;
        top: 0.8rem;
    }
    .home__description{
        max-width:initial;
        margin-bottom: var(--mb-2-5);
    }
    .home__img{
        width: 250px;
        height: 250px;
    }
    /* About */
    .about__container{
        grid-template-columns: 1fr;
        row-gap: 2.5rem;
    }
    .about__img{
        width: 220px;
    }

    .about__box{
        padding: 0.75rem 0.5rem
    }
    .about__data{
        text-align: center;
    }
    .about__info{
        justify-content: center;
    }
    .about__description{
        padding: 0 5rem;
        margin-bottom: 2rem;

    }

    .about__btn{
        align-items: center;
    }

    /* Skill */
    .skills__container{
        grid-template-columns: max-content;
        row-gap: 2rem;
    }
    
    /* Education */
    .education__container{
        margin-left: auto;
        margin-right: auto;
    }

    /* contact */
    .contact__container{
        column-gap: 3rem;
    }

    
}

@media screen and (max-width: 768px) {
    .header{
        top:initial;
        bottom: 0;
        box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
        border-radius: 20px 20px 0 0;
    }

    .nav{
        height: var(--header-height); 
    }

    .nav__menu{
        position: fixed;
        bottom: -100%;
        left: 0;
        width: 100%;
        background-color: var(--body-color);
        padding: 2rem 1.5rem 4rem;
        box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
        border-radius: 20px 20px 0 0;
        transition: .3s;
    }

    .show-menu{
        bottom: 0;
    }

    .hide-menu{
        bottom: -100%;
    }

    .nav__list{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        gap: 2rem;
    }
    
    .nav__icon{
        font-size: 1.2rem;
    }

    .nav__close{
        position: absolute;
        right: 1.3rem;
        bottom: .5rem;
        font-size: 1.5rem;
        cursor: pointer;
        color: var(--title-color);
    }
    .nav__close:hover{
        color: var(--title-color-dark);
    }

    .nav__toggle{
        font-size: 1.1rem;
        cursor: pointer;
    }

    .nav__icon,
    .nav__close, 
    .nav__toggle{
        display: block;
    }
    /* Home */
    .home__content{
        grid-template-columns: 0.5fr 3fr;
        padding-top: 3.5rem;
    }
    .home__img{
        order: initial;
        justify-self: initial;
    }
    .home__img{
        width: 200px;
        height: 200px;
    }
    .home__data{
        grid-column: 1/3;

    }
     /* Education */
     .education__container{
        margin-left: var(--mb-1-5);
        margin-right: var(--mb-1-5);
    }
    .education__title{
        font-size: var(--small-font-size);
    }
    .education__subtitle{
        font-size: var(--smaller-font-size);
    }
    /* contact */
    .contact__container{
        grid-template-columns: 1fr;
        row-gap: 3rem;
    }
    .contact__info{
        justify-content: center;
    }
    .contact__form{
        margin: 0 auto;
    }
    
    .portfolio__container{
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 576px) {
    /* About */
    .about__info{
        grid-template-columns: repeat(3,1fr);
    }
    .about__description{
        padding: 0;
    }
     /* Skill */
     .skills__container{
        grid-template-columns: 1fr;
    }
    .skills__content{
        padding: 1.5rem;
    }
    /* Education */
    .education__sections{
        grid-template-columns: initial;
    }
    .education__button{
        margin:  0 var(--mb-0-75);
    }
    .education__title{
        font-size: var(--small-font-size);
    }
    .education__subtitle{
        font-size: var(--smaller-font-size);
    }
    .education__calender{
        font-size: var(--smaller-font-size);
    }        
    /* contact */
    .contact__info{
        grid-template-columns: 1fr ;
    }
    .contact__form{
        width: 100%;
    }


    
}

@media screen and (max-width: 350px) {
    .nav__menu{
        padding: 2rem 0.25rem 4rem;
    }

    .nav__list{
        grid-template-columns: repeat(2,1fr);
        column-gap: 0;
    }
    .container{
        margin-left: var(--mb-1) ;
        margin-right: var(--mb-1);
    }

    /* Home */
    .home__img{
        width: 180px;
        height: 180px;
    }
    /* About */
    .about__info{
        grid-template-columns: repeat(2,1fr);
    }
     /* Skill */
    .skills__box{
        column-gap: 1.25rem;
     }
    .skills__name{
        font-size: var(--small-font-size);
    }
    .education__data{
        gap: 0.5rem;
    }

    


    

    
}


